{% extends "base.html" %}

{% block content %}
<h2>Registrar Préstamo</h2>

{% if libros %}
    <form method="POST">
        <label>Libro:</label><br>
        <select name="libro_id" required>
            <option value="">-- Selecciona un libro --</option>
            {% for libro in libros %}
                <option value="{{ libro.id }}" {% if id_preseleccionado == libro.id %} selected {% endif %}>
                    {{ libro.titulo }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label>Socio:</label>
        <br>
        <select name="socio_id" required>
            <option value="">-- Selecciona un socio --</option>
            {% for socio in socios %}
                <option value="{{ socio.id }}">{{ socio.nombre }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Prestar Libro</button>
    </form>
{% else %}
    <p>No hay libros disponibles.</p>
    <a href="{{ url_for('libros.listar') }}">Volver</a>
{% endif %}
{% endblock %}