{% extends "base.html" %}
{% block title %}Buscar Socio{% endblock %}

{% block content %}

<h1>Buscar socio por nombre o email</h1>

<form method="POST" style="margin-bottom: 20px;">
    {{ form.hidden_tag() }}
    <div class="input-group">
        {{ form.busqueda }}
        <br>
        {{ form.submit }}
    </div>
</form>
<br>
{% if socios %}
    <ul>
        {% for socio in socios %}
            <li>
                <strong>Nombre:</strong> <a href="{{ url_for('socios.editar', id=socio.id) }}">{{ socio.nombre }}</a><strong> Email:</strong> {{ socio.email }}
                {% if socio.libros_prestados %}
                    <strong>Libros prestados:</strong>
                    {{ socio.libros_prestados }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% elif request.method == "POST" and form.validate_on_submit() %}
    <p>No se ha encontrado ningún socio con esos datos.</p>
{% endif %}

{% endblock %}