<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('navigation.inicio') }}">Inicio</a>
        <a href="{{ url_for('libros.listar') }}">Todos los libros</a>
        <a href="{{ url_for('libros.disponibles')}}">Libros Disponibles</a>
        <a href="{{ url_for('libros.grid') }}">Libros Grid</a>
        <a href="{{ url_for('libros.buscar') }}">Buscar libros</a>
        {% if session.get("user_id") %}
            <a href="{{ url_for('libros.prestamo') }}">Prestar un libro</a>
            <a href="{{ url_for('libros.devolucion') }}">Devolver un libro</a>
            <a href="{{ url_for('socios.listar') }}">Todos los socios</a>
            <a href="{{ url_for('socios.buscar') }}">Buscar socio</a>
            <a href="{{ url_for('socios.con_prestamos') }}">Socios con libros</a>
            <a href="{{ url_for('socios.registro') }}">Registrar socios</a>
            <span>{{ session.get("user_name") }}</span>
            <a href="{{ url_for('usuarios.logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('usuarios.login') }}">Iniciar sesión</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; 2025 Mi aplicación</p>
</footer>
</body>
</html>
